<!DOCTYPE html>
<html>
<head>
    <title>Vareændring</title>
</head>

<style>
    .box {
        background-color: #DB4913;
        width: 150px;
        height: 32px;
        border: 1px;
        padding: 5px;
        margin: 0 auto;
        
    }
</style>

<body>
    <h1>Hi ADMIN; add, change and delete users here</h1>
    <div style="width: 400px; height: 300px; border: 2px solid #3498db; border-radius: 10px; padding: 20px; text-align: center; font-size: 18px; background-color: #f0f0f0;">
        <form action="/admin_user_change" method="post">
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            
            <label for="skab">New user:</label>
            <input type="radio" id="action" name="action" value="create"><br>
            <label for="rediger">Change user:</label>
            <input type="radio" id="action" name="action" value="change"><br>
            <label for="slet">Remove user:</label>
            <input type="radio" id="action" name="action" value="destroy"><br><br>
            
            {% if username_or_email_exists %}
                <div class="box" style="font-size: 13px; color:white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">This username (or email) already exists!</div>
            {% endif %}

            <br><br>

            <select id="userid" name="userid">

                {% for user in users %}
                <option value="{{user['id']}}">{{user["id"]}} {{user["un"]}}</option>
                {% endfor %}
                
            </select>
            
            <input type="submit" value="Let's go"> 
        </form>
    </div>
    
    
    <!-- Link to another page -->
    <a href="/">Klik her for at gå tilbage til hovedsiden.</a>
</body>
</html>