<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
</head>

<style>
    .box {
        background-color: #DB4913;
        width: 150px;
        height: 32px;
        border: 1px;
        padding: 5px;
        margin: 0 auto;
        
    }
  
</style>

<script>
    function showPassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>

<body>
    <h1>Create your user now!</h1>
    <div style="width: 300px; height: 200px; border: 2px solid #3498db; border-radius: 10px; padding: 20px; text-align: center; font-size: 18px; background-color: #f0f0f0;">
        <form action="/createuser" method="post">
            <input type="text" id="email" name="email" placeholder="Email"><br>
            <input type="text" id="username" name="username" placeholder="Username"><br>

            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="checkbox" onclick="showPassword()"> <b>Show Password</b><br><br>
            
            {% if username_or_email_exists %}
                <div class="box" style="font-size: 13px; color:white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">This username (or email) already exists!</div>
            {% endif %}
            
            <br>
            
            <input type="submit" value="Let's go"> 
        </form>
    </div>
    
    
    <!-- Link to another page -->
    <a href="/">Klik her for at gå tilbage til hovedsiden.</a>
</body>
</html>