<!DOCTYPE html>
<html>
<head>
    <title>ForgottenPassword</title>
</head>

<style>
    .box {
        background-color: #DB4913;
        width: 200px;
        height: 30px;
        border: 10px;
        padding: 5px;
        margin: 0 auto;
        
    }
  
</style>

<script>
    function showPassword() {
        var passwordField = document.getElementById("newpassword");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>


<body>
    <h1>Forgotten your password? Change it now</h1>
    <div style="width: 300px; height: 200px; border: 2px solid #3498db; border-radius: 10px; padding: 20px; text-align: center; font-size: 18px; background-color: #f0f0f0;">
        <form action="/login/forgottenPassword" method="post">
            <input type="text" id="email" name="email" placeholder="Email"><br>

            <input type="password" id="newpassword" name="newpassword" placeholder="New Password"><br>
            <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password"><br>

            <input type="checkbox" onclick="showPassword()"> <b>Show New Password</b>
            <br>
                        
            {% if failure %}
                <div class="box" style="font-size: 12px; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">
                There is no account with this email. Or the passwords do not match.
                </div>
            {% endif %}

            <br>
                                        
            <input type="submit" value="Change Password"> 
            <br>
            <a href="/login">Nevermind.</a> 

            
        </form>
    </div>
    
    
    <!-- Link to another page -->
    <a href="/">Klik her for at gå tilbage til hovedsiden.</a>
</body>
</html>