<!DOCTYPE html>
<html>
<head>
    <title>VæskeShoppen</title>
</head>
<body>
    <h1>Velkommen til VæskeShoppen!</h1>
    <p>Her er hvad, du kan købe:</p>
    <ul>
        {% for user in users %}
        <li>{{user['un']}}: <B>({{user['pw']}})</B><br><a href="/buy?item={{user['id']}}">This does not work.</a><br><br></li>
        {% endfor %}
    </ul>
    
    <!-- link for at tilføje nye varer -->
    <a href="/add_new">Press here to add new user!</a>
    <a href="/createuser">Create user</a>
</body>
</html>