<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Log In!</h1>
    <div style="width: 300px; height: 200px; border: 2px solid #3498db; border-radius: 10px; padding: 20px; text-align: center; font-size: 18px; background-color: #f0f0f0;">
        <form action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Username"><br><br>

            {% if failure %}
                <div>Unknown username or password</div>
            {% endif %}

            <input type="password" id="password" name="password" placeholder="Password"><br><br>
            
            <br><br>
                   
            <input type="submit" value="Log In"> 
            <br>
            <a href="/createuser">Don't have an account? Click here.</a>
        </form>
    </div>
    
    
    <!-- Link to another page -->
    <a href="/">Klik her for at gå tilbage til hovedsiden.</a>
</body>
</html>